doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title AATC 2016 Debrief

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 AATC 2016 Debrief

      section
        img.profile(src='images/sandi-metz.jpeg')
        h2 Sandi Metz
        h3 Practical Agile Development: A Challenge From the Trenches

      section
        img.full-width(src='images/resolution-by-project-size.jpeg')

      section
        h2 Project Aristotle

      section
        img.profile(src='images/james-lewis.jpeg')
        h2 James Lewis
        h3 Microservices and Conway's Law

      section
        img.profile(src='images/laurie-williams.jpeg')
        h2 Laurie Williams
        h3 After All These Years ... What's Pair Programming Looking Like?

      section
        p
          img(src='images/pair-programming-illuminated.jpeg', style='height: 400px')
        p Published in 2002

      section
        p.bullet Pair Pressure
        p.bullet Not just for

      section
        img.profile(src='images/justin-searls.jpeg')
        h2 Justin Searls
        h3 How to Stop Hating Your Tests

      section
        img.full-width(src='images/story-point-ponzi.jpeg')

      section
        img.profile(src='images/uncle-bob.jpeg')
        h2 Uncle Bob
        h3 The Future of Software

      section
        h3.bullet # of programmers doubles every ~5 years
        p.bullet
          img.full-width(src='images/world-population.jpeg')
        p.bullet (All graphs of doubling every N years look the same)

      section
        p.bullet If that's true...
        h2.bullet Half of all programmers have less than 5 years of experience

      section
        h2 Clean Coders

    script(src='build/build.js')
